.bg-tangerine-image {
  background-image: url(asset-path('tangerine.jpg'));
  background-size: cover;
}


.bg-leave-image {
  background-image: url(asset-path('leave.jpg'));
  background-size: cover;
}


.bg-basket-image {
  background-image: url(asset-path('basket-image.jpg'));
  background-size: cover;
}
