<%= simple_form_for [ item, pickup ], html: { class: "m-0", data: { controller: "get-it" } } do |f| %>
  <div style="height: 1px; width: 1px; opacity: 0.01">
    <%= f.input :arrive_at, html5: true, input_html: { class: "m-0", data: { action: "change->get-it#submit", get_it_target: "dateTimeInput" }, min: DateTime.current.strftime("%Y-%m-%dT%H:%m"), value: DateTime.current.strftime("%Y-%m-%dT%H:00") } %>
  </div>
  <%= f.submit "Get it!",
               class: "position-fixed btn btn-primary text-white btn-lg dp-12",
               "data-action": "click->get-it#selectDateTime",
               style: "right: 1rem; bottom: calc(58px + 1rem); z-index: 9999" %>
<% end %>
