<h1>Placeholder Pickups Booking Form</h1>
  <%= simple_form_for [ @item, @pickup ] do |f| %>
    <%= f.input :arrive_at, html5: true, label: "On what date do you want to start?" %>
    <%= f.submit class: "btn-primary" %>
  <% end %>
