<div class="home-banner pb-5 bg-leave-image">
  <div class="container pt-3">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <h2 style= "color: white">Update your profile</h2>
        <%= render "form", users: @users, disabled: false %>
      </div>
    </div>
  </div>
</div>
