<div class="navbar navbar-expand-sm navbar-light navbar-lewagon container-fluid fixed-top bg-transparent">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo_new.png" %>
  <% end %>

  <ul class="navbar-nav">
    <li class="nav-item">
      <%= link_to "Login", new_user_session_path, class: "nav-link" %>
    </li>
  </ul>
</div>
