<div data-controller="notifications" class="dropdown-menu">
  <div class="list-group">
    <% if current_user.notifications.any? %>
      <% current_user.notifications.each do |notice| %>
        <%  notification = notice.to_notification %>
        <%= render "notifications/static_notification", notification: notification %>
      <% end %>
    <% else %>
      <li class="p-3">No notifications yet</li>
    <% end %>
  </div>
</div>
