<div class= "home-banner">
  <div class= "home-container">
  <h1>Welcome to Fresh Collection</h1>
  <p>share with your community</p>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="https://unsplash.com/photos/Hz4FAtKSLKo" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Share your groceries</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk </p>
    <%= link_to "Share", new_item_path, class:"btn btn-primary" %>
  </div>
</div>

<br>

<div class="card" style="width: 18rem;">
  <img src="https://unsplash.com/photos/g917EoHF-Ls" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Pick-up now</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk </p>
     <%= link_to "Pick-up", items_path, class:"btn btn-primary" %>
  </div>
</div>
