<div class="home-banner pb-5 bg-tangerine-image">
  <div class="container pt-5">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <h2>Edit your post</h2>
        <%= render "form", item: @item %>
        <%= link_to "Delete", @item, method: :delete %>
      </div>
    </div>
  </div>
</div>
