<div class="home-banner pb-5" style="background-color: #74896D;">
  <div class="text-center pt-3">
    <h1>All items available</h1>
  </div>
  <div class="m-2" style="width: 100%; height: 300px;"
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <div class="container">
    <% @items.each do |item| %>
      <%= render "items/card", item: item %>
    <% end %>
  </div>
</div>
