<div class="home-banner pb-5 bg-tangerine-image">
  <div class="container pt-5">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <h2>What would you like to share?</h2>
          <%= render "form", item: @item %>
      </div>
    </div>
  </div>
</div>
