<div class="container">
  <h1>My Dashboard</h1>
  <br>
  <h2>My listings</h2>
  <% @dashboard.sharer_items.each do |item| %>
    <div class="card p-3">
      <%= item.title %><%= link_to "See details", item_path(item) %>
    </div>
  <% end %>
  <br>
  <h2>My pickups</h2>
  <% @dashboard.collector_pickups.each do |pickup| %>
    <div class="card p-3">
      <%= pickup.item.title %><%= link_to "See details", pickup_path(pickup) %>
    </div>
  <% end %>
</div>
