.mobile-menu {
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #FDE6E6;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;

  a {
    text-decoration: none;
  }

  .icons {
    flex-grow: 1;
    color: $fc-light-green;
    margin-top: 5px;

    img {
      object-fit: contain;
    }
  }
}
