.mobile-menu {
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  z-index: 9;

  a {
    text-decoration: none;
  }

  .icons {
    flex-grow: 1;
    color: $fc-light-green;
    margin: 6px 0px 4px;

    img {
      object-fit: contain;
    }
  }
}

.modal.show {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
}
