#item-title{
  text-align: left;
  margin-left: 9px;
  padding-bottom: 5px;
}

#item-description {
  text-align: left;
  margin-left: 9px;
  padding-bottom: 5px;
}

// .col-6 .text-start {
//   text-align: left;
//   margin-left: 9px;
// }
